*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e5e7eb;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
